.flex__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
}

.flex__resume-photo {
  border-radius: 2px;
  height: 0;
  margin-right: 5%;
  overflow: hidden;
  padding-bottom: 35%;
  position: absolute;
  width: 55%;
}

.flex__resume-intro {
  margin-right: 5%;
  order: 1;

  width: 30%;

  // needed extra depth here due to firefox/edge handling padding differently than chrome/safari
  > div { padding-top: 133.34%; }
}

.flex__resume-experience {
  order: 3;
  width: 40%;
}

.flex__resume-education {
  margin-right: 5%;
  order: 2;
  width: 20%;

  // needed extra depth here due to firefox/edge handling padding differently than chrome/safari
  > div { padding-top: 200%; }
}

@media only screen and (max-width: 1080px) {
  .flex__resume-intro {
    margin-right: 9.1%;
    width: 54.2%;
  }

  .flex__resume-education {
    margin-right: 0;
    width: 36.7%;
  }

  .flex__resume-experience {
    margin-top: 63px;
    width: 100%;
  }

  .flex__resume-photo {
    margin-right: 0;
    padding-bottom: 63.65%;
    position: absolute;
    width: 100%;
  }
}



@media only screen and (max-width: 640px) {
  .flex__resume-intro {
    width: 100%;
    margin-right: 0;

    > div { padding-top: 80.5%; }
  }

  .flex__resume-experience {
    margin-top: 63px;
    order: 2;
    width: 100%;
  }

  .flex__resume-education {
    margin-right: 0;
    margin-top: 63px;
    order: 3;
    width: 100%;

    > div { padding: 0; }
  }
}
