a {
  color: $text-muted;
  text-decoration: none;
  transition: color .3s;

  &:hover { color: $text-highlight-blue; }
}

.center { text-align: center; }

.narrow {
  margin: 0 auto;
  max-width: 600px;
}

.semi-narrow {
  margin: 0 auto;
  max-width: 750px;
}

.hr {
  margin: 70px 0;
  text-align: center;

  span {
    border: 1px solid $text-muted;
    display: inline-block;
    height: 8px;
    position: relative;
    transform: rotate(45deg);
    width: 8px;

    &:before,
    &:after {
      border: 1px solid $text-muted;
      content: '';
      display: block;
      height: 8px;
      position: relative;
      width: 8px;
    }

    &:after {
      left: 6px;
      top: -16px;
    }

    &:before {
      left: -8px;
      top: 6px;
    }
  }
}
