// colors

$text-primary:                 #454553;
$text-muted:                   #b0d3df;

$text-highlight-red:           #ff556f;
$text-highlight-blue:          #409dd2;

$white:                        #fff;
$off-white:                    #f8f8f8;

$brand-corvisa:                #fd5e3c;
$brand-corvisa-gradient:       #fc963c;
$brand-corvisa-dark-gray:      #384251;
$brand-corvisa-light-gray:     #4e535f;
$brand-corvisa-yellow:         #f0b525;
$brand-corvisa-green:          #00b08a;
$brand-corvisa-green-grad:     #007584;


// fonts

$font-futura:           "futura-pt", sans-serif;
$font-freight:          "freight-text-pro", serif;

$font-soleil:           "soleil", sans-serif;
$font-proxima:          "proxima-nova", sans-serif;
$font-roboto:           "Roboto Slab", serif;
