// colors

$text-primary:          #454553;
$text-muted:            #b0d3df;

$text-highlight-red:    #ff556f;
$text-highlight-blue:   #409dd2;

$white: #fff;


// fonts

$font-futura:           "futura-pt", sans-serif;
$font-freight:          "freight-text-pro", serif;
