.slide__shoretel--rebrand {
  background: url('/img/shoretel-bu.png') no-repeat;
  background-size: 1000px 550px;
}



@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi) {

  .slide__shoretel--rebrand { background-image: url('/img/shoretel-bu@2x.png'); }
}



@media only screen and (max-width: 1080px) {
  .slide__shoretel--rebrand {
    background: none;
  }



  .slide__shoretel--rebrand figure {
    background: url('/img/shoretel-bu.png') no-repeat;
    background-size: 1000px 550px;
  }



  @media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
          only screen and (-o-min-device-pixel-ratio: 13/10),
          only screen and (min-resolution: 120dpi) {

    .slide__shoretel--rebrand figure { background-image: url('/img/shoretel-bu@2x.png'); }
  }
}
