.slide-details {
  background: $white url('/img/jellyfish.svg') no-repeat center center;
  background-size: 202px 319px;
  cursor: auto;
  height: 100%;
  padding: 50px;
  position: absolute;
  right: 0;
  text-align: left;
  width: 40%;
  z-index: 10;
}

.swiper-slide figure {
  position: absolute;

  img {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.slide-expand {
  background: $terracotta;
  border-radius: 50%;
  bottom: 35px;
  box-shadow: 0 4px 6px rgba($dark, .11), 0 1px 3px rgba($black, .08);
  color: $white;
  display: inline-block;
  font-size: 22px;
  height: 45px;
  line-height: 44px;
  position: absolute;
  right: 35px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  width: 45px;


  &:hover {
    //background: $page-bg;
    box-shadow: 0 7px 14px rgba($dark, .1), 0 3px 6px rgba($black, .08);
    //color: $terracotta;
    transform: translateY(-1px);
  }
}

.slide__standard-figure {
  bottom: 0;
  //height: 500px;
  left: 0;
  padding-bottom: 50%;
  width: 60%;
}

.slide__full-figure {
  //height: 600px;
  left: 0;
  padding-bottom: 60%;
  top: 0;
  width: 60%;
}



@media only screen and (max-width: 1080px) {
  .swiper-slide figure {
    padding: 0;
    z-index: 2;
  }

  .slide__standard-figure img { margin-top: 8.34%; }
}
