//	GLOBAL SETTINGS & VARIABLES

//	added resets
* {
  @include box-sizing(border-box);        // more-info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  -webkit-font-smoothing: antialiased; 		// more info: http://maxvoltar.com/archive/-webkit-font-smoothing
}


//  color library
$white:         #fff;
$page-bg:       #f9f9f8;
$black:         #000;

$light:         #d1d6d8;
$mid:           #93a2a6;
$dark:          #2e4b5b;
$terracotta:    #e3624c;
$viridian:      #638d75;

$sand:          #cacabe;
$sand-light:    #e1e1db;



//  font library
$font-brandon: 'brandon-grotesque', sans-serif;
$font-freight: 'freight-display-pro', serif;
$font-icons: 'imcd';
