section,
footer {
  padding-bottom: 150px;
  padding-top: 150px;
}

.section__resume {
  overflow: hidden;
  position: relative;

  h2,
  .flex__wrapper { z-index: 10; }
}


@media only screen and (max-width: 640px) {
  section,
  footer {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}
