.project__intro--corvisa {
  background: url('../img/background_corvisa-min@2x.png') no-repeat center center;

  .project__intro__figure { top: 100px; }
}

.project__devices--corvisa {
  overflow: hidden;

  &:after {
    background: linear-gradient(to top, $brand-corvisa , $brand-corvisa-gradient);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
  }
}

.project__corvisa-heading {
  &:before { transform: translateY(44px) rotate(-90deg); }

  p {
    font: 600 2.25em/1.2em $font-soleil;
    margin: 0;
  }
}

.project__corvisa-subheading {
  &:before { transform: translateY(61px) rotate(-90deg); }

  p {
    font: 300 1.625em/1.3em $font-roboto;
    margin: 0;
  }
}

.project__corvisa-subheading-alt {
  &:before { transform: translateY(62px) rotate(-90deg); }

  p {
    font: 600 1.25em/1.5em $font-soleil;
    margin: 0;
    text-transform: uppercase;
  }
}

.project__corvisa-paragraph {
  &:before { transform: translateY(63px) rotate(-90deg); }

  p {
    font: 300 1.0625em/1.5 $font-proxima;
    margin: 0 0 1.25em;

    &:last-child { margin: 0; }
  }
}

.project__section--corvisa {
  background: linear-gradient(to bottom, $brand-corvisa-light-gray 0%, $brand-corvisa-dark-gray 100%);
}

.project__section--corvisa-green { background: linear-gradient(to bottom, $brand-corvisa-green 0%, $brand-corvisa-green-grad 100%); }

.project__palette--corvisa li {
  &:nth-child(1) { background-color: $brand-corvisa; }
  &:nth-child(2) { background-color: $brand-corvisa-yellow; }
  &:nth-child(3) { background-color: $brand-corvisa-green; }
  &:nth-child(4) { background-color: $brand-corvisa-light-gray; }
  &:nth-child(5) {
    background-color: $white;
    color: $text-primary;
  }
}
