figure img { max-width: 100%; }

.intro__logo { margin: 50px auto; }

.svg__castle {
  background: url('../img/castle.svg') no-repeat center top;
  background-size: 53px 70px;
  display: inline-block;
  height: 70px;
  width: 53px;

  &.svg__castle--small {
    background-size: 30px 40px;
    height: 40px;
    width: 30px;
  }
}

.svg__corvisa-dots {
  background: url('../img/corvisa_dots-color.svg') no-repeat center top;
  background-size: 70px 70px;
  display: inline-block;
  height: 70px;
  width: 70px;
}

.project__devices {
  position: relative;
  z-index: 100;
}

.project__display--single {
  padding: 0 50px;
}

.project__display--double {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  &:last-child { margin-bottom: 0; }

  figure {
    width: 47.5%;

    &:first-child { margin-right: 5%; }
  }
}

.project__display--masonry {
  //display: flex;

  &:last-child { margin-bottom: 0; }

  figure {
    margin-bottom: 50px;
    width: 47.5%;
  }
}

@media (max-width: 640px) {
  .svg__castle {
    background-size: 40px 53px;
    height: 53px;
    width: 40px;
  }
}
