.nav__view-work {
  float: left;
  font: 700 11px/40px $font-futura;
  text-transform: uppercase;
}

.nav__squares {
  display: inline-block;
  height: 10px;
  margin-right: 8px;
  position: relative;
  transform: translateY(1px);
  width: 10px;

  span {
    background: $text-muted;
    display: block;
    height: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    position: relative;
    transition: background .3s;
    width: 2px;

    &:before,
    &:after {
      background: $text-muted;
      content: '';
      display: block;
      height: 2px;
      left: -4px;
      position: absolute;
      top: 0;
      transition: background .3s;
      width: 2px;
    }

    &:after {
      left: auto;
      right: -4px;
    }

    &:last-child { margin-bottom: 0; }
  }
}

a:hover .nav__squares span {
  &:first-child,
  &:last-child {
    &:before,
    &:after {
      background: $text-highlight-blue;
    }
  }

  &:nth-child(2) { background: $text-highlight-blue; }
}
