.project__intro {
  background-size: cover;
  overflow: hidden;
  padding: 450px 0 75px;
  position: relative;
}

.project__intro__figure {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 100;
}

.project__company-intro {
  padding: 100px 0;
  position: relative;
}

.project__intro__content {
  background: $white;
  padding: 50px;
  position: relative;
  z-index: 200;
}

.project__section {
  padding: 100px 0;
  position: relative;
}

.project__section--alt { background: $off-white; }

.project__brand {
  margin-bottom: 100px;
}
